body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
}
.h-2 {
  color: blue;
}
.s1 {
  color: green;
}
.s2 {
  color: red;
}
.p1 {
  background-color: blue;
  padding: 15px;
}
.p2 {
  background-color: green;
  padding: 15px;
  margin-left: 20px;
}
.div-3 {
  display: flex;
}
